*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #14e956;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #e8fdee;
}

*::-webkit-scrollbar-thumb {
  background-color: #14e956;
  border-radius: 20px;
  border: 2px solid #fdfdfd;
}
* {
  background-size: cover; /* Pour ajuster la taille de l'image au conteneur */
  animation: animateBackground 20s linear infinite;
}
@keyframes animateBackground {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -10% 0%;
  }
  50% {
    background-position: -20% 20%;
  }
  75% {
    background-position: -10% 10%;
  }
  100% {
    background-position: 0% 0%;
  }
}
body,
html,
a {
  cursor: url(https://www.onyedika.xyz/static/media/arrowPoint.5b3f3b5c07736388f143.svg)
      15 15,
    move;
  scroll-behavior: smooth;
}
::-webkit-scrollbar-corner {
  background-color: #fff; /* Couleur des coins */
}
::-webkit-scrollbar {
  background-color: #14e956;
  border: 2px solid #fdfdfd;
  border-radius: 20px;
}

body {
  color: whitesmoke;
}
.navbar {
  align-items: center;
  -webkit-animation: fadeInDown 1s ease forwards;
  animation: fadeInDown 1s ease forwards;
  background-color: #10e956;
  display: flex;

  font-size: 1.2rem;
  height: 9vh;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  padding: 1rem;
}

.logo {
  width: 5rem;
  height: 5rem;
  border-radius: 40%;
}

.home {
  background: black;
}
.hi {
  animation: wobbl 2.5s infinite;
  display: inline-block;
  font-size: 1.7rem;
}
@keyframes wobbl {
  from {
    transform: translate3d(0, 0, 0) scale(1);
  }

  15% {
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg) scale(1.1);
  }

  30% {
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg) scale(1.2);
  }

  45% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg) scale(1.3);
  }

  60% {
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg) scale(1.2);
  }

  75% {
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg) scale(1.1);
  }

  to {
    transform: translate3d(0, 0, 0) scale(1);
  }
}

.home {
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

.home .home-intro {
  align-items: center;

  background-position: top;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 8rem 5rem 0;
}
.hero-icon img {
  max-width: 100%;
  height: auto;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}
.home .home-intro .content .content-hi {
  margin-bottom: 1.5rem;

  width: max-content;
}

.home .home-intro .content .content-hi p {
  background: rgba(20, 233, 88, 0.157);
  border-radius: 12px;
  color: #14e956;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}
.home .home-intro.show .content {
  -webkit-animation: fadeInLeft 2s ease forwards;
  animation: fadeInLeft 2s ease forwards;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.content-primary {
  margin-bottom: 2rem;
  text-align: center;
}
.content-secondary {
  text-align: center;
  margin-bottom: 3rem;
}
.home .home-intro .content .content-primary h1 span {
  color: #14e956;

  font-size: 4.2rem;
}

.home .home-intro .content .content-secondary p {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 30px;
  margin: 1rem;
  opacity: 0.8;
  text-transform: lowercase;
}
.home .home-intro .content .content-secondary span {
  color: #14e956;
  font-size: 1.5rem;
}
.hero-icon {
  height: 100%;
  width: 100%;
}
.hero {
  background: url(/static/cd8IBBLXFSow1dJpJtXF--1--jaovw.jpg) no-repeat
    center/cover;
  object-fit: cover;
  height: 100%;
  width: auto;
  filter: opacity(60%);
  border-radius: 3rem;
}

.home .tooling {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 0;
}
.home .tooling .tooling-title {
  align-items: center;
  background: #12141d;
  border-radius: 12px;
  box-shadow: inset 0 0 4px 1px #14e956;
  -webkit-box-shadow: inset 0 0 4px 1px #14e956;
  -moz-box-shadow: inset 0 0 4px 1px #14e956;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  padding: 0.8rem 2rem;
  -webkit-transform: rotate(3.6deg);
  transform: rotate(3.6deg);
}

@media screen and (max-width: 1190px) {
  .home-intro {
    flex-direction: column;
  }
  .home .home-intro .content .content-primary h1 span {
    font-size: 2rem;
  }
  .home .home-intro {
    display: flex;
    align-items: normal;
  }
}

.home .tooling .tooling-box {
  align-items: center;
  background: #0c8c34;
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
}
.home .tooling .tooling-box .box-content {
  align-items: center;
  background: #021709;
  border-radius: 8px;
  display: flex;
  flex: 0 1 18%;
  height: 60px;
  justify-content: space-evenly;
  margin: 1%;
  transition: transform 0.3s;
  &:hover {
    transform: translate(
      5px,
      5px
    ); /* Décalage de 5px vers la droite et le bas en survol */
  }
}

.home .tooling .tooling-box .box-content .box-text {
  margin: 6px;
}
.box-text {
  overflow: hidden; /* Masque le contenu qui dépasse */
  white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.box-text p {
  animation: scrollText 5s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(
      100%
    ); /* Démarre avec le texte déplacé vers la droite */
  }
  100% {
    transform: translateX(
      -100%
    ); /* À la fin de l'animation, le texte est déplacé vers la gauche */
  }
}
.card-container {
  display: flex;
  justify-content: space-between; /* Espace égal entre les cartes */
}
@media screen and (max-width: 1190px) {
  .formulaire,
  .home-content,
  .content,
  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 1190px) {
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.project-card {
  /* Largeur de chaque carte */
  background-color: #021709;
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
  position: relative;
  margin: 2rem 1rem;
  transition: box-shadow 0.3s;
}

.project-card:hover {
  box-shadow: 0 0 10px rgba(12, 140, 52, 0.8); /* Brillance de la carte au passage de la souris */
}

.project-title {
  color: #0c8c34; /* Couleur du titre */
}

.project-description {
  font-size: 20px;
  margin: 10px 0;
}

.project-button {
  background-color: #0c8c34; /* Couleur du bouton */
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
}

.project-button:hover {
  background-color: #097a2c; /* Changement de couleur du bouton au passage de la souris */
  color: wheat;
}
.scrollToTop {
  display: flex;
  justify-content: center;
}
.form-container {
  background: rgba(12, 140, 52, 0.8);
  border: 12px black;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.form-container h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 10px;
}
.invisible {
  opacity: 0;
  transform: translateX(100%); /* Commence en dehors de l'écran à droite */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Animation de 0.5 seconde */
}

.show {
  opacity: 1;
  transform: translateX(0); /* Position centrée sur l'écran */
  transition: opacity 1.5s ease, transform 1.5s ease; /* Animation de 0.5 seconde */
}
label {
  display: block;
  font-weight: bold;
}

input[type='text'],
input[type='email'],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type='submit'] {
  background-color: #14e958;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: url(https://www.onyedika.xyz/static/media/arrowPoint.5b3f3b5c07736388f143.svg)
      15 15,
    move;
}

button[type='submit']:hover {
  background-color: #0fd84d;
}
.formulaire {
  display: flex;
  justify-content: center;
}
.img-project {
  height: 160px;
  max-width: 20rem;
  margin: 1rem;
}
.btn-cv {
  margin-top: 0.2rem;
  width: 80px;
  height: 80px;
  background: url(../public/static/cv.png);
  border: none;
  background-size: cover; /* Ajustez la taille de l'image à la taille de l'élément */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center;
  overflow: hidden; /* Masque tout ce qui dépasse de la zone de l'image */
  transition: transform 0.2s;
  cursor: url(https://www.onyedika.xyz/static/media/arrowPoint.5b3f3b5c07736388f143.svg)
      15 15,
    move;
}
.btn-cv:hover {
  animation: shake 0.5s infinite;
}
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(5px, 5px);
  }
  75% {
    transform: translate(-5px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.contact-info img {
  height: 5rem;
}

.form-container {
  margin: 2rem;
}
a {
  text-decoration: none;
  color: wheat;
}
.form-container p {
  color: wheat;
  font-size: 1.5rem;
}

ul {
  list-style: none; /* Supprimer les puces de liste */
  display: flex; /* Affichage en ligne des éléments de la liste */
}

li {
  margin-right: 20px; /* Espacement entre les éléments de liste */
}

a {
  text-decoration: none; /* Supprimer la soulignement des liens */
  color: #fff; /* Couleur du texte des liens */
  font-weight: bold; /* Gras */
  transition: transform 0.3s; /* Animation de transformation pour la vibration */
}

/* Animation de vibration au survol */
a:hover {
  color: #097a2c; /* Déplacer légèrement le lien vers la gauche */
}

/* Animation de vibration au clic */
a:active {
  transform: translateY(2px); /* Déplacer légèrement le lien vers le bas */
}

.formulaire,
.tooling,
.home-content {
  background: url(../public/static/téléchargement.png);
}
